h4 {
  font-weight: 500;
  padding: 0;
  margin: 0;
  text-align: right;
  position: relative;
  display: inline;
  height: 0;
  top: 4px;
  right: 20px;
}

md-card {
  margin: 0;
}

footer {
  height: 90px;
  background: #424242;
  color: white;
  position: relative;
  top: 15px;
}

#header {
  background: rgb(96,125,139);
  height: 42px;
}

#canvas {
  z-index: -1;
  position: absolute;
  top: 0;
 left: 0;
 width: 100%;
 overflow: hidden;
}

.cm-s-default {
	background: none;
}

.CodeMirror-gutters {
	background: none;
}

code {
  color: #c7254e;
  background: #f9f2f4;
}

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Courier New', 'Courier';
  font-size: 14px;
  height: 370px;
  color: black;
}


iframe {
  border: none;
  width: 80%;
}

.output {
  margin: 20px;
  border: 3px solid black;
}

ng-md-icon svg {
  transform: translate3d(0, 25%, 0);
  display: inline-block;
}

#logo svg{
  transform: translate3d(0, 5%, 0);
  display: inline-block;
}

.menuBardemoBasicUsage .page-container {
  background-color: #f1f1f1;
  padding: 32px;
}

.menuBardemoBasicUsage .page {
  margin: 0 auto;
  background-color: white;
  padding: 24px;
  max-width: 680px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.menuBardemoBasicUsage .page h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
  font-weight: normal;
}

.menuBardemoBasicUsage .page p {
  line-height: 1.6rem;
}

.CodeMirror-scroll {
  /*background-color: rgba(245,246,247, 0.4);*/
  /*width: 100%;*/
  /*margin: 0;*/
}

.CodeMirror {
  background-color: rgba(237,237,237, 0.4);
}

.CodeMirror-focused {
  background-color: rgba(255,255,255, 0.4);
}

/*.md-sidenav-backdrop {
    opacity: 0 !important;
}*/

/*md-sidenav.md-closed-add,
md-sidenav.md-closed-remove {
    -webkit-transition: all .4s cubic-bezier(0.25, .8, .25, 1) !important;
    transition: all .4s cubic-bezier(0.25, .8, .25, 1) !important;
}*/

md-sidenav.md-closed-add,
md-sidenav.md-closed-remove {
    -webkit-transition: none !important;
    transition: none !important;
}
