
#canvas {
  z-index: -1;
  position: absolute;
  top: 0;
 left: 0;
}

.cm-s-default {
	background: none;
}

.CodeMirror-gutters {
	background: none;
}

code {
  color: #c7254e;
  background: #f9f2f4;
}

/*

#partial{
  height: 400px;
  width: 300px;
  display: inline-block;
}
#app{
  height: 400px;
  width: 350px;
  display: inline-block;
}
#controller{
  height:400px;
  width: 400px;
  display: inline-block;
}*/

/*.embeddedPage {
  display: inline-block;
}*/

/*#factory {
  height:400px;
  width: 400px;
  display: inline-block;
}*/
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 370px;
  color: black;
}

iframe {
  border: none;
}


.menuBardemoBasicUsage .page-container {
  background-color: #f1f1f1;
  padding: 32px;
}

.menuBardemoBasicUsage .page {
  margin: 0 auto;
  background-color: white;
  padding: 24px;
  max-width: 680px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.menuBardemoBasicUsage .page h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
  font-weight: normal;
}

.menuBardemoBasicUsage .page p {
  line-height: 1.6rem;
}

.editor {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  transition-property: box-shadow;
  transition-duration: 0.5s;
}

.editor:hover {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.editor:focus {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

#html {
  background-color: #B71C1C;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.editor:hover > #html {
  background-color: #F44336;
}

.editor:focus > #html {
  background-color: #EF5350;
}

#app {
  background-color: #0D47A1;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.editor:hover > #app {
  background-color: #2196F3;
}

.editor:focus > #app {
  background-color: #42A5F5;
}

#controller {
  background-color: #1B5E20;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.editor:hover > #controller {
  background-color: #4CAF50;
}

.editor:focus > #controller {
  background-color: #66BB6A;
}

#output {
  background-color: #311B92;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.editor:hover > #output {
  background-color: #673AB7;
}

.editor:focus > #output {
  background-color: #7E57C2;
}

#factory {
  background-color: #E65100;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.editor:hover > #factory {
  background-color: #FF9800;
}

.editor:focus > #factory {
  background-color: #FFA726;
}
