<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="historyRight">
  <form>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="one">
        <md-content class="md-padding">
          <div class="md-content">
            <h1 class="md-display">ng-model data binding part 1</h1>
            <p>
              <p>Congratulations, you've initiated your first Angular application, not too bad right? Next, let's add an input box within your body like so, <code>&lt;input type='text' ng-model='yourName'&gt;</code>. What is <code>ng-model</code> you ask? <code>ng-model</code> is an Angular directive and what the <code>ng-model</code> directive does is that it binds things like an <code>input</code> or <code>textarea</code> to your applications data.<p>
              </p>
            </div>
          </md-tab>
        </md-content>
    </md-tabs>
  </form>
  <div layout="row" layout-align="start" >
    <md-button ng-click="vm.close()" class="md-primary">
      Close
    </md-button>
  </div>
</md-sidenav>
