<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/codemirror/lib/codemirror.css">
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc7/angular-material.min.js"></script>

    <script type="text/javascript" src="bower_components/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="./bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
    <script type="text/javascript" src="ui-bootstrap-tpls-0.12.0.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="factory.js"></script>
    <script type="text/javascript" src="./controllers/partialController.js"></script>
    <script type="text/javascript" src="./controllers/appController.js"></script>
    <script type="text/javascript" src="./controllers/controllerController.js"></script>
    <script type="text/javascript" src="./controllers/htmlController.js"></script>
    <script type="text/javascript" src="./controllers/factoryController.js"></script>
    <script type="text/javascript" src="./controllers/embeddedPageController.js"></script>
    <script type="text/javascript" src="./promptFactory.js"></script>
    <script type="text/javascript" src="./controllers/promptsController.js"></script>
    <script type="text/javascript" src="./inputFactory.js"></script>
    <script type="text/javascript" src="./controllers/inputChecker.js"></script>
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <script type="text/javascript" src="./controllers/d3Lines.js"></script>
    <script type="text/javascript" src="./modalCtrl.js"></script>
    <link rel="shortcut icon" href="/img/favicon.ico" />
  </head>
  <body ng-controller="inputChecker as inputVM">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="col-lg-11 col-md-11 col-sm-11" ng-controller="promptsController as promptsVM">
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-primary btn-sm navbar-btn" ng-click="promptsVM.previousPrompt()"><</button>
            <button type="button" class="btn btn-primary btn-sm navbar-btn" ng-click="promptsVM.getTutorial()">O</button>
            <button type="button" class="btn btn-primary btn-sm navbar-btn" ng-click="promptsVM.nextPrompt()">></button>
          </div>
          <span style="display:inline-lists">{{promptsVM.tutorial}}</span>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1" ng-controller="modalCtrl as modalVM">
          <script type="text/ng-template" src="tutorialContent.html"></script>
          <button type="button" class="btn btn-danger btn-sm navbar-btn" ng-click="modalVM.open('lg')">History</button>
        </div>
      </div>
    </nav>
    <canvas id="canvas" width="window.innerWidth" height="window.innerHeight"></canvas>
    <div ng-controller="htmlController as htmlVM" id="html" class="textEditor">
      <textarea ui-codemirror="{ onLoad : htmlVM.codemirrorLoaded }" ui-codemirror-opts="htmlVM.editorOptions"></textarea>
    </div>
    <div ng-controller="partialController as partialVM" id="partial" class="textEditor">
      <textarea ui-codemirror="{ onLoad : partialVM.codemirrorLoaded }" ui-codemirror-opts="partialVM.editorOptions"></textarea>
    </div>
    <div ng-controller="appController as appVM" id="app" class="textEditor">
      <textarea ui-codemirror="{ onLoad : appVM.codemirrorLoaded }" ui-codemirror-opts="appVM.editorOptions"></textarea>
    </div>
    <div ng-controller="controllerController as controllerVM" id="controller" class="textEditor">
      <textarea ui-codemirror="{ onLoad : controllerVM.codemirrorLoaded }" ui-codemirror-opts="controllerVM.editorOptions"></textarea>
    </div>
  <div class="embeddedPage">
    <form id="embeddedPage" ng-submit="embeddedVM.changeLink()" ng-controller="embeddedPage as embeddedVM">
      <input id="URL" type="text" style="width:400px" name="link" ng-model="embeddedVM.userInput" >
      <input type="submit" name="button" value="Enter">
    </form>

    <section id="output">
  		<iframe id="iframeOutput"></iframe>
  	</section>
  </div>
  <div ng-controller="factoryController as factoryVM" id="factory" class="textEditor">
    <textarea ui-codemirror="{ onLoad : factoryVM.codemirrorLoaded }" ui-codemirror-opts="factoryVM.editorOptions"></textarea>
  </div>
    <script type="text/javascript" src="javascript.js"></script>
    <!-- For HTML/XML -->
    <script src="./bower_components/codemirror/mode/xml/xml.js"></script>
    <!-- For JS -->
    <script src="./bower_components/codemirror/mode/javascript/javascript.js"></script>
  </body>

</html>
