
#html {
  height: 400px;
  width: 500px;
  display: inline-block;
}
#partial{
  height: 400px;
  width: 300px;
  display: inline-block;
}
#app{
  height: 400px;
  width: 350px;
  display: inline-block;
}
#controller{
  height:400px;
  width: 400px;
  display: inline-block;
}
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 370px;
  color: black;
}

iframe {
  height: 350px;
  width: 500px;
}

#canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.cm-s-default {
	background: none;
}

.CodeMirror-gutters {
	background: none;
}
