.textEditor {
  height: 400px;
  width: 400px;
  display: inline-block;
  /*opacity: 0.1;*/
}

iframe {
  height: 500px;
  width: 500px;
}

#canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.cm-s-default {
	background: none;
}

.CodeMirror-gutters {
	background: none;
}
