<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <form>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="one">
        <md-content class="md-padding">
          <div class="md-dialog-content">
            <h1 class="md-display">Using ng-repeat</h1>
            <p>
              Inside the div you just created, write <code>ng-repeat = 'list in myCtrl.list'</code>. Your div should look like : <br><code>&lt;div ng-repeat='list in myCtrl.list'&gt;&lt;/div&gt;</code>.
            </p>
            </div>
          </md-tab>
        </md-content>
    </md-tabs>
  </form>
  <div layout="row" layout-align="start" >
    <md-button ng-click="vm.close()" class="md-primary">
      Close
    </md-button>
  </div>
</md-sidenav>
